*{
    margin: 0;
    padding: 0;
}
a{text-decoration: none;}
li{list-style: none;}
body{
    font-family: serif;
}
.pt-5{padding-top: 5px;}
.pt-10{padding-top: 10px;}
.pb-5{padding-top: 5px;}
.pb-10{padding-top: 10px;}
.py-5{padding: 5px 0;}
.py-10{padding: 10px 0;}
.my-5{margin: 5px 0;}
.my-10{margin: 10px 0;}
.heading1{}
.subheading1{}

/* header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin:10px auto;

}
header .logo img{
    width: 150px;
}
header ul {
    display: flex; 
    gap:20px;
}
header ul li a{
    text-transform: uppercase;
}