/*------------------ Default Style ------------------ */
*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
span.text-highlight{
    color: #FBA24F;
}
.heading1{
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 60px;
    line-height: 78px;
    color: #575757;
    text-transform: capitalize;
}
.heading2{
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 40px;
    line-height: 54px;
    color:#707070;
    text-transform: capitalize;
}
.heading3{
    font-family: Montserrat;
    font-weight: 800;
    font-size: 25px;
    line-height: 1.5;
    color:#18191F;
    text-transform: capitalize;
}
.d-btn {
	font-family: Montserrat;
	font-weight: 600;
	font-size: 20px;
	color: #ffffff;
	background: linear-gradient(#fba24f,#ff1e1e);
	padding: 10px 20px;
	display: table;
	border-radius: 30px;
	text-transform: capitalize;
}
body{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 32px;
    color: #18191F;

}
.d-flex{
    display: flex;
    justify-content: center;
    align-items: center;
}
section{
    padding: 50px 0;
}
.wrapper{
    width: 90%;
    margin: auto;
}
.my-20{margin: 20px 0;}
.my-30{margin: 30px 0;}

/*------------------ banner section start ------------------ */
.banner_content, .about_content{
    width: 50%;
}
.banner_image, .about_image {
	width: 50%;
	text-align: center;
}
.banner_image img, .about_image img {
	max-width: 80%;
}
/*------------------ banner section end ------------------ **/

/*------------------ About section start ------------------*/
.about{
    background-color: #cccccc;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center center;
}
/*------------------ About section end ------------------**/

/*------------------ Recipies section end ------------------*/
.recipies_bio{
    text-align: center;
}
.recipies_bio p{
    width: 60%;
    margin: 20px auto;
}
.recipies_item{
    width: 33%;
    margin: 0 10px;
    padding: 20px;
    box-shadow: 0px 0px 6px #ccc;
    border-radius: 5px;
}
.recipies_item img{
    max-width: 100%;
    border-radius: 10px;
}
/*------------------ Recipies section end ------------------**/

/*------------------ success_counter section end ------------------*/
.success_counter .social_list{
    box-shadow: 0px 0px 6px #ccc;
    padding: 50px 100px;
}
.youtube_subscribers, .instagram_followers, .dribbble_likes{
    width: 33%;
    margin: 0 10px;
}
/*------------------ success_counter section end ------------------**/

/*------------------ Footer Start ------------------*/
footer{
    background-color: #0B0D17;
    text-align: center;
    padding: 50px;
}
.Restaurant_name, .copy_right_text{
    color:#ffffffb0;
}
/*------------------ Footer End ------------------**/